* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 20px;
}

.container,
header {
  width: 85%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar_right_link,
.navbar_right {
  display: flex;
  flex-wrap: wrap;
}

.navbar_logo {
  width: 100px;
  padding-top: 20px;
}

.navbar_right_link,
.navbar_right_link_login {
  list-style: none;
}

.navbar_right_link_li {
  padding: 20px;
}

.navbar_right_link_a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.blue {
  color: #0065fc;
  font-weight: 700;
}

.border_blue {
  border-top: solid 2px #0065fc;
}

.text_block_title {
  font-size: 20px;
}

.search_block {
  display: flex;
  margin: 25px 0;
}

.search_i {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.search_input {
  border: 1px solid #f2f2f2;
  padding: 10px;
  color: black;
  font-weight: 700;
  width: 20%;
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.search_btn {
  background: #0065fc;
  border: none;
  padding: 15px;
  color: white;
  font-weight: 700;
  border-radius: 0 15px 15px 0;
}

.responsive {
  display: none;
}

.filter_block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 0 15px 0 0;
  border: solid 2px #f2f2f2;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
  background: white;
  transition: 0.5s;
}

.filter_title {
  margin: 0 15px 0 0;
}

.filter_content .filter_i {
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #0065fc;
  margin: -2px 15px -2px -4px;
  transition: 0.5s;
}

.filter_content:hover .filter_i {
  transform: rotate(360deg) scale(1.2);
  background-color: #0065fc;
  color: white;
}

.filter_content:hover {
  background-color: #0065fc;
  color: white;
}

.block_info {
  margin: 30px 0;
}

.info_i {
  color: #0065fc;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  border: solid 1px #deebff;
  border-radius: 50%;
}

.block_houses {
  margin: 0 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.houses,
.houses_pop {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
}

.houses {
  width: 68%;
}

.houses_pop {
  width: 28%;
  padding: 20px;
}

.houses_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
}

.houses_list_card {
  text-decoration: none;
  color: black;
  width: 30%;
  margin: 25px 0;
  background: white;
  padding: 5px 5px 10px 5px;
  border-radius: 15px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.houses_list_card:hover,
.houses_pop_card:hover,
.block_activities_card:hover {
  transform: scale(1.1);
}

a:hover {
  color: #0065fc;
}

.houses_card_img {
  width: 100%;
  object-fit: cover;
  height: 95px;
  border-radius: 10px 10px 0 0;
}

.houses_card_title {
  font-size: 14px;
  margin: 5px 0;
}

.houses_card_text {
  margin: 5px 0;
  font-size: 12px;
}

.houses_card_title,
.houses_card_text,
.rating {
  padding-left: 8px;
}

.grey {
  color: #f2f2f2;
}

.rating_i {
  font-size: 12px;
}

.houses_title {
  margin: 20px 0 10px 10px;
}

.more {
  text-decoration: none;
  color: black;
  margin: 20px;
  font-weight: 700;
}

.houses_pop_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.houses_pop_top_i {
  font-size: 20px;
}

.houses_pop_card {
  background-color: white;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  display: flex;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.houses_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.houses_pop_card_img {
  width: 100px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.block_activities_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 400px;
}

.block_activities_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: 100%;
}

.block_activities_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

.block_img {
  overflow: hidden;
  height: 100%;
}

.block_activities_card_p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  height: 60px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
}

.block_activities_card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.large {
  height: 100%;
}
.medium {
  height: calc(60% - 20px);
}
.small {
  height: 40%;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px 50px;
  margin-top: 90px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer_content_block {
  display: flex;
  flex-direction: column;
}

.footer_link {
  margin: 5px 0;
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  .block_houses {
    flex-direction: column-reverse;
    width: 100%;
  }
  .houses,
  .houses_pop,
  .footer,
  .navbar_right_link {
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
  }
  .houses_pop {
    margin-bottom: 20px;
  }
  .houses_list_card {
    width: 40%;
  }

  .houses_pop_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_content,
  .block_activities_list {
    flex-direction: column;
  }

  .footer_content_block {
    margin: 15px 0;
  }
  .search_input {
    width: 80%;
  }
  .houses_pop_card {
    width: 45%;
  }
  .block_activities_list {
    height: 100%;
  }

  .block_activities_card_img {
    height: 150px;
  }
  .block_activities_content {
    width: 80%;
    flex-direction: row;
    margin: auto;
  }
  .block_activities_card,
  .block_activities_card:last-child {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .navbar,
  .container,
  .header {
    width: 100%;
  }
  .navbar_right {
    flex-direction: column-reverse;
    width: 100%;
  }
  .navbar_right_link {
    justify-content: space-between;
    padding-left: 0;
  }

  .navbar_right_link_li {
    text-align: center;
    width: 50%;
  }
  .navbar_right_link_login {
    align-self: flex-end;
  }
  .navbar_left {
    position: absolute;
    left: 15px;
  }

  .border_blue {
    border-top: none;
    border-bottom: solid 2px #0065fc;
  }

  .border_grey {
    border-bottom: solid 2px #f2f2f2;
  }

  .search_block,
  .filter_title {
    margin: 20px 0;
  }

  .search_btn {
    display: none;
  }
  .responsive {
    display: block;
    border-radius: 15px;
    position: absolute;
    left: 80%;
  }
  .filter_title {
    flex-basis: 100%;
  }
  .houses {
    background-color: white;
  }

  .houses_card_img {
    height: 130px;
  }

  .houses_pop {
    border-radius: 0;
  }

  .footer {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .search_block {
    justify-content: center;
  }
  .search_input {
    width: 100%;
  }
  .responsive {
    left: 86%;
  }
  .houses_title {
    margin: 20px 0;
  }
  .houses_pop_card,
  .houses_list_card {
    width: 100%;
    margin: 8px 0;
  }
  .block_activities_content {
    width: 100%;
    flex-direction: column;
  }
  .houses_pop_card,
  .block_activities_card,
  .block_activities_card:last-child {
    margin: 10px 0;
  }
}
